lzy-service:
  instance-id: 'lzy-service'
  address: 'localhost:8899'
  snapshot-address: 'localhost:8999'
  channel-manager-address: 'localhost:8122'
  allocator-address: 'localhost:8899'
  allocator-vm-cache-timeout: 21m
  gc-period: 30s
  gc-leader-period: 1m

  database:
    url: 'jdbc:postgresql://localhost:5432/lzy_workflows_db'
    username: 'lzy_user'
    password: 'q'
    min-pool-size: 3
    max-pool-size: 5

  storage:
    address: 'localhost:7780'

  iam:
    address: 'localhost:8443'
    internal-user-name: "lzy-internal-user"
    internal-user-private-key: ""

  metrics:
    kind: 'Prometheus'
    port: 17081
