[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods
    W1203, # logging-fstring-interpolation
    W0511, # todo

[SIMILARITIES]
ignore-imports=yes
